
// <Подключаем шрифты> =================================================== :

// <Шрифт по умолчанию> =================================================== :
$fontfamilyBase:"";

// <Шрифты> =================================================== :

// <Переменные> =================================================== :
$minwidth: 320px;
$mw:1200;
// Контейр для миксина
$maxWidthContainer:0;
// Размер макета для миксина
$maxWidth:0;

// <Обнуление,обнуляющий стиль> =================================================== :
@import "nullstyle.scss";

// <Оболочка> =================================================== :
.wrapper{
	overflow: hidden;
	min-height: 100%;
	width: 100%;
}

.container{
	max-width: $mw + px;
	padding: 0px 15px;
	margin: 0 auto;
}

// <Подключение файлов стилей,страниц и элементов> =================================================== : 
@import "ui.scss";
@import "header";
@import "footer";
@import "mixins";
@import "forms";
@import "function";

// <Основной блок> =================================================== : 
.page {
	// .page{
// 	position: absolute;
// 	height: 100%;
// 	width: 100%;
// 	top: 0;
// 	left: 0;
// 	@include flexbox();
// 	flex-direction: column
// }
}





